# ------------------------------------------------------------------------------
# CONFIGURAÇÕES DO BANCO DE DADOS (POSTGRES)
# ------------------------------------------------------------------------------
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# URL de conexão com o banco. O container do postgres deve se chamar 'postgres-educapi' na rede do Docker.
DB_URL=

# Usados se algum profile/configuração específico exigir DB_USER e DB_PASSWORD.
# No profile 'dev' atual, se o application-dev.yml usa POSTGRES_USER e POSTGRES_PASSWORD,
# estes dois abaixo podem ficar vazios.
DB_USER=
DB_PASSWORD=

# ------------------------------------------------------------------------------
# CONFIGURAÇÕES DO ARMAZENAMENTO (MINIO)
# ------------------------------------------------------------------------------
MINIO_USER=
MINIO_PASSWORD=
MINIO_BUCKET=

# ------------------------------------------------------------------------------
# CONFIGURAÇÕES DA APLICAÇÃO E AUTENTICAÇÃO
# ------------------------------------------------------------------------------
PROFILE_ACTIVE=
EDUCAPI_VERSION=
TOKEN_KEY=

# Insira o Client ID do Google Cloud Console para autenticação OAuth2 se necessário
GOOGLE_CLIENT_ID=

SYSADMIN_EMAIL=