POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PROFILE_ACTIVE=

DB_URL=

# Usado se algum profile/configuração usar DB_USER e DB_PASSWORD.
# No profile dev atual, se o application-dev.yml usa POSTGRES_USER e POSTGRES_PASSWORD,
# esses dois podem ficar vazios ou nem serem usados.
DB_USER=
DB_PASSWORD=

MINIO_USER=
MINIO_PASSWORD=
MINIO_BUCKET=

TOKEN_KEY=
EDUCAPI_VERSION=